#Insert your own secret key here and set the debug mode in this file. 

#After inserting your values, do not commit this file to version control.
SECRET_KEY = 'Insecure Secret Key for Development Only - Replace with your own secret key for production'

# for production purpose, the DEBUG-mode should be set to False:
DEBUG = True
